export(PMV)
export(PPD)
export(RH)
export(Tn_Humphreys)
export(Tn_auliciems)
export(degree_days)
export(rh2sh)
export(Celsius)
export(cz_limits)
export(Fahrenheit)
export(geom_comfort)
export(sh2rh)
export(TD)
